.highlight-box {color: #FFE082 !important;}
.friends_expats img{width:100%; height:300px;}
.offers_text{font-weight: 700;font-family: "Roboto", sans-serif;    border: 3px solid #fff;    background: #01ae79;background: linear-gradient(135deg, #01ae79 0%, #97db6f 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01ae79', endColorstr='#97db6f',GradientType=1 );color: #fff;font-size: 1.2em;width: auto;    text-align: center;padding: 10px;}

.highlight-box:before {background: -moz-linear-gradient(top, rgba(255,224,130,0.8) 0%, rgba(251,221,129,0.8) 1%, rgba(44,62,80,0.7) 60%, rgba(44,62,80,1) 80%) !important;background: -webkit-linear-gradient(top, rgba(255,224,130,0.8) 0%,rgba(251,221,129,0.8) 1%,rgba(44,62,80,0.7) 60%,rgba(44,62,80,1) 80%) !important;background: linear-gradient(to bottom, rgba(255,224,130,0.8) 0%,rgba(251,221,129,0.8) 1%,rgba(44,62,80,0.7) 60%,rgba(44,62,80,1) 80%) !important; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffe082', endColorstr='#2c3e50',GradientType=0 ) !important;}



.title-blue {
  background-color: #f2f9fe;
  padding: 30px 0;height: auto;
}

.title-blue div:first-of-type {
  text-align: left;
}


.title-blue div:last-of-type {
  text-align: right;
}


.page-title h1 + span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.875rem;
  display: block;
}


.title-blue .breadcrumb {
  margin: 20px 0 0;
  padding: 0;
  background: none;
  font-size: 0.875rem;
}
@media (min-width: 992px)
{


  .title-blue .breadcrumb {
    margin: 0;
  }
  .breadcrumb {
    font-size: 0.875rem;
    float: right;
  }

}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.breadcrumb .icon{font-size:1.4em;}
.plan {
  padding: 30px 0 0;
}


.bg-wellness {
}


.diet-logo {
  width: 140px;
  height: 140px;
  position: relative;
  margin: 0 auto 20px;    border: 1px solid #ccc;
}

@media (min-width: 768px)
{
  .diet-logo {
    width: 90%;
    height: auto;
    padding-top: 90%;
    margin: 0;
  }
}

.diet-logo img {
  width: 90%;
  height: 90%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.checkmark {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 14px;
  margin: 20px 0 30px 0;
  border-radius: 4px;
}
.checkmark h4 {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  background-color: #fff;
  padding: 0 10px;
  margin: -30px auto 10px;
  display: table;
}
@media (min-width: 1200px)
{
  .checkmark {margin: 60px 0 30px 0;}
  .checkmark li > span {margin: 20px auto -32px;}

}
.checkmark .btn-primary {
  line-height: 24px;
  height: 36px;
  margin: 0;
}

.checkmark li > span {
  background-color: #fff;
  display: table;
  padding: 0 10px;
  margin: 14px auto -32px;
}
.break {
  margin-bottom: 10px;
  clear: both;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.checkmark label {
  padding: 10px 13px 7px 38px;
  margin: 0;
  color: #3e3d95;
  background-color: #fff;
  position: relative;
  width: 100%;
}

.checkmark label strong {
  font-weight: normal;
}

.checkmark label span {
  color: #01ae79;
  float: right;
}

.checkmark  label::after {
  content: url('<?php echo url('public/css/img/check-white.svg');?>');
  font-size: 32px;
  position: absolute;
  top: 6px;
  left: 0;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  background: #b0bec5;
  border-radius: 50%;
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

.partner h2,h3,h4{color:#3e3d95;}
